table {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  margin-top: 60px;
  width: 80%;
  text-align: left;
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid black;
  min-width: 20em;
}

thead {
  position: sticky;
}

tbody {
  overflow-y: auto;
}

th {
  background-color: #ededed;
  padding: 8px;
  border-bottom: 1px solid black
}

td {
  background-color: #ffffff;
  padding: 8px;
  border-bottom: 1px solid black;
  position: relative;
  overflow: visible;
}

button {
  padding: .5em;
}


.icon-button {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  color: #4474A9;
}

.icon-button-danger {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  color: #f51919;
}


.icon-button:focus {
  outline: 2px solid #000;
  outline-offset: 3px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

dialog {
  z-index: 1;
  margin: 0;
  padding: .5em;
  top: 2em;
}

dialog .icon-button {
  margin: .2em;
  left: -.5em;
}

.mobile-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: none;
}

.mobile-table td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 12px 16px;
}

.mobile-header {
  font-weight: bold;
  width: 30%;
  color: #333;
}

.mobile-data {
  width: 70%;
}

td button:first-of-type {
  padding-left: 0 !important;
}

.mobile-row-even td,
.mobile-row-even th {
  background-color: #ededed;
}

.mobile-row-odd td,
.mobile-row-odd th {
  background-color: white;
}

.mobile-row-odd td,
.mobile-row-even td,
.mobile-row-odd th,
.mobile-row-even th {
  border: 0;
}

.mobile-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}